<div class="col-md-12" style="padding-top:20px" >
  <button type="button" class="btn btn-primary  pull-right" >Large button</button>
<br>
<br>
<div class="panel panel-primary" >
  <div class="panel-heading"><h3>Products</h3></div>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in product.products">
        <td class="col-md-2">{{$index+1}}</td>
        <td class="col-md-2">{{item.name}}</td>
        <td class="col-md-2">{{item.category}}</td>
        <td class="col-md-2">{{item.price}}</td>
        <td class="col-md-4">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" ng-click="product.remove(item)" class="btn btn-danger">Delete</button>
          </div>
      </td>
      </tr>

    </tbody>
  </table>

</div>

</div>
